<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>SF-Pro-Display-Medium.otf</string>
		<string>SF-Pro-Display-Semibold.otf</string>
		<string>SFPRODISPLAYREGULAR.OTF</string>
		<string>SFPRODISPLAYMEDIUM.OTF</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>SFPRODISPLAYBOLD.OTF</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Poppins-Bold.ttf</string>
	</array>
</dict>
</plist>
